html {
  font-size: 10px;
  background: #FFF; }

body {
  font-size: 1.3rem;
  margin: 2rem;
  background: #f7f7f9;
  color: #566473;
  padding: 15px;
  border-radius: 5px; }

.nav-tabs {
  width: 100%;
  float: left;
  border-bottom-color: #d9d9d9; }
  .nav-tabs > li a {
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #dadae3;
    color: #555555;
    background: #eeeef2; }
    .nav-tabs > li a:hover {
      background: #F9F9F9;
      border-color: #d9d9d9; }
  .nav-tabs > li.active a, .nav-tabs > li.active:hover a {
    color: #444444;
    background: white;
    border-color: #d9d9d9;
    border-bottom-color: transparent; }

.tabs-dropdown .dropdown-toggle {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #dadae3;
  border-radius: 4px 4px 0 0;
  color: #555555;
  background: #eeeef2; }

.tab-content {
  padding: 10px;
  height: 400px;
  background: white;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0 0 4px 4px; }
  .tab-content .tab-pane {
    color: #566473; }
