html {
  font-size: 10px;
  background: #FFF; }

body {
  font-size: 1.3rem;
  background: white;
  color: #444444;
  padding: 30px;
  border-radius: 5px; }

.nav-tabs {
  width: 100%;
  float: left;
  border-bottom-color: #d9d9d9; }
  .nav-tabs > li a {
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #e0e0e0;
    color: #444444;
    background: #f2f2f2; }
    .nav-tabs > li a:hover {
      background: #F9F9F9;
      border-color: #d9d9d9; }
  .nav-tabs > li.active a, .nav-tabs > li.active:hover a {
    color: #444444;
    background: white;
    border-color: #d9d9d9;
    border-bottom-color: transparent; }

.instructions {
  text-align: center;
  padding: 10px 0; }

.tabs-dropdown .dropdown-toggle {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 4px 4px 0 0;
  color: #444444;
  background: #f2f2f2; }

.tab-content {
  padding: 10px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: white;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0 0 4px 4px; }
  .tab-content .tab-pane {
    color: #566473; }
