$brand-danger:          #d9534f;

// Responsive Tabs
$btn-remove-tab--size: 16px;
$btn-remove-tab--bg--hover: $brand-danger;
$btn-remove-tab--text: #999;
$btn-remove-tab--text--hover: #444;
$btn-remove-tab--text--hover--highlight: #FFF;
$tabs--dropdown-toggle--width: 100px;

.responsive-tabs {
  padding-right: $tabs--dropdown-toggle--width;
  > li {
    &:hover {
      .btn-remove-tab {
        color: $btn-remove-tab--text--hover;

        &:hover {
          background: $btn-remove-tab--bg--hover;
          color: $btn-remove-tab--text--hover--highlight;
        }
      }
    }
  }

  .btn-remove-tab {
    width: $btn-remove-tab--size;
    height: $btn-remove-tab--size;
    line-height: $btn-remove-tab--size;
    border-radius: 50%;
    display: inline-block;
    color: $btn-remove-tab--text;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
  }
}

.responsive-tabs-container {
  position: relative;
  
  .tabs-dropdown {
    position: absolute;
    right: 0;
    margin-right: 0!important;

    &.navbar-nav {
      margin: 0 !important;
    }

    @media only screen and (max-width : 767px) {
      .dropdown-menu {
        position: fixed;
        top: 20px; right: 20px; bottom: 20px; left: 20px;
        padding-top: 50px;
        overflow: hidden;
        overflow-y: scroll;

        .dropdown-header {
          position: fixed;
          left: 20px; right: 20px;
          background: #FFF;
          margin-top: -50px;
          padding-top: 18px;
        }

        .close {
          position: absolute;
          top: 14px;
          right: 20px;
        }

        .divider { margin: 0; }
      }
    }

    .dropdown-toggle {
      width: $tabs--dropdown-toggle--width;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: #DDD;
      position: relative;
      display: block;
      padding: 10px 15px;
      border-radius: 4px 4px 0 0;

      .count {
        margin-right: 5px;
      }

      .caret {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid;
        margin-left: 0;
        vertical-align: initial;
      }
    }
  }
}

.nav-tabs {
  width: 100%;
  overflow: hidden;
  float: left;

  > li {
    min-width: 80px;
    max-width: 150px;
    a {
      text-align: center;
      border: {
        width: 1px 1px 0 1px;
        style: solid;
        color: #DDD;
      }
    }

    &.active, &.active:hover {
      a { background: #EEEEEE; }
    }
  }
}